
fieldset{margin:1% auto;}
table{ margin-top: 10px;}	
.box-mensagem-crud{ margin-top: 10px;}
.msg-erro{ color: red; }

.imagem{

	width: 45px;
	height: 45px;
	padding-left: 0px;
	margin-left: 0px;
	margin-right: 15px;
}
.img_titulo{
	width: 170px;
	height: 100px;
}

.link:hover{
	text-decoration: none;
	color: inherit; 
}
.link{
	color: inherit; 
} 
